
<div id="cf">
<div class='imgword'><h1>BOOKIES</h1></div>
<%= image_tag "https://cdn-images-1.medium.com/max/1024/1*YLlZ96J3p8GFkIh1USVMzg.jpeg", class: "bottom img"%>
<%= image_tag "http://apps.npr.org/best-books-2017/assets/img/covers.jpg", class: "top img"%>
</div>
